<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>

    body{

        background-color: bisque;
    }
    .pageMov{

        width: 1000px;
        margin: 0 auto;
        font-size: x-large;
        padding-top: 100px;
        

    }

    </style>

    <div class="pageMov">
        <a href="/">homepage</a>
        <h1>Hello Boss</h1>
        <a href="/items/new">add new product</a>&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="/">list all product</a>&nbsp;&nbsp;&nbsp;&nbsp;
        
        
        <a href="/users">list all users</a>&nbsp;&nbsp;&nbsp;&nbsp;

    </div>
</body>
</html>