<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <header>
        <form action="/sessions" method="post">
            <label for="">email</label>
            <input type="text" name="email" >
            <label for=""></label>
            <input type="password" name="password" >
            <button>login</button>
            </form>
            
        <form action="/users/new" >
                <button>register new user</button>
        </form>


        <form action="/sessions" method="post">
            <input type="hidden" name="_method" value="delete"/>
            <button>log out</button>
        </form>
    </header>

    

    <a href="/items/new">add new stock</a>
    <section>
        <% for (let item of items){%>
            <div class="ui-card">
                <a href="/items/<%= item.id%>"><%= item.title%></a>
                <img src="<%= item.image_url%>" style="width: 400px; height: 320px;"/>
            </div>
        <% } %>
    </section>
</body>
</html>