<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new item</h1>

    <form action="/items" method="post">
        <label for="">title</label>
        <input type="text" name="title"/>
        <label for="">describe</label>
        <input type="text" name="describe"/>
        <label for="">image_url</label>
        <input type="text" name="image_url"/>
        <label for="">price</label>
        <input type="text" name="price"/>
        <label for="">available quantity</label>
        <input type="text" name="available">
        <button>submit</button>

    </form>

</body>
</html>