<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>


        section {
            margin: 0 auto;
            padding: 20px 10px;
            box-sizing: border-box;
            position: relative;
            max-width: 1200px;
            /* background-color: #ECE9E9FF; */
            font-size: large;

            display: grid;
            grid-auto-rows: auto;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            
            text-align: center;

            color: rgb(6, 245, 225);

    }
    .ui-card{
        background-color: white;
        margin: 10px;
        padding: 10px;
        box-shadow: 2px 2px 2px 2px #ccc;
        /* width: 25%; */
    
    }
    .ui-card img{
        border-radius: 5px;
        width: 100%;
        margin-top: 15px;
    
    }
    
    .homepage{
        width: 1200px;
        margin: 0 auto;
        font-size: x-large;
    }

    .title{
        text-align: left;
        color: #333;

    }
    .describe{
        text-align: left;
        color: #565555;
        font-size: 16px;

    }

    </style>
        <p class="homepage">following are the order details for order number <%=newOrderItems[0].orders_id%>: </p>

    <section > 
            
     <% for (let orderItem of newOrderItems) { %>              
           
            


            <div class="ui-card">
                <img src="<%=orderItem.image_url%>" alt="">
                <div class="title"><%=orderItem.title%></div>
                <div class="describe"><%=orderItem.describe%></div>
               
               
            </div>
                    
    <% } %>
    </section>

    
</body>
</html>